/* Stili font */
body{font-family: 'Poppins', sans-serif;}

a{text-decoration: none;}

h1,h2,h3,h4,h5,p {color:black, padding:10px}

.big-font {font-size: 40px}
.medium-font {font-style: normal;}
.small-font {font-style: 10px;}

body{
  margin:0;
  padding: 0
}
.header1{
  background-color: #00ABF6;
  padding: 10px;
  align-items: center;
  text-align: center;
  color: white
}
.bar{
  display: inline-flex;
  align-items: center;
}
a{color:black}
nav{
  display: flex;
  align-items: center;
}
.logo{
  margin-right: 30px;
  margin-left: 20px;
  margin-bottom: 20px}
.button{
  margin-left: 30px;
  color:white;
  background-color: #0291AE;
  padding: 8px;
  border-radius: 10px
}
.lentin{
  margin-left: 20px
}
.icon{
  margin-left: 20px
}
.coffee{
  width: 100%;
}
ul a:hover {position:relative;color:#0291AE; top:2px}
.button:hover {
  background-color: #05CEF7;
  color: #D3D3D3}
.containers{
  display: flex;
  align-items: center;
  align-content: left;
  font-weight: bold;
  font-display: fallback;
}
.containers div{
  margin-top:20px;
 padding-left: 40px}
.containers ul {
  position: relative;
  left:-36px;
  margin-left: 0
}

/*Immagini 3 hero*/

.testo1:hover {
  position:relative;
  top:2px;
  filter: brightness(1.05)}
.testo1:hover > ul{
  color:#0291AE
}
.testo2:hover {
  position:relative;
  top:2px;
  filter: brightness(1.05)}
.testo2:hover > ul{
  color:#0291AE
}
.testo3:hover {
  position:relative;
  top:2px;
  filter: brightness(1.05)}
.testo3:hover > ul{
  color:#0291AE
}
.second{
  position: relative;
  background-size: cover;
  width: 100vh;
}
.testo-coffee{
  position: absolute;
  top:220px;
  left:70px;
  width: 800px
}
.appenatostato{
  font-size: 30px
}
.abbonamenti{
  font-size: 60px
}
.iniziare{
  font-size: 30px;
  line-height: 100px}
.iniziare a:hover {position:relative;color:#1F1F1F; top:2px}

/*Seconde immagini 4 hero*/

.containerstwo {
  display: flex;
  align-items: center;
  align-content: left;
  font-weight: bold;
}
.containerstwo div {
  margin-top:20px;
  padding-left: 40px
}

/* TAIL  */

.tail{
  height: 400px;
  background: #0E94BB;
  border-radius: solid red 1px;
  display: flex
}
.immagine{
  position: relative;
  top:50px;
  left:40px
}
.testologo{
  width: 300px;
  color: white;
  margin-left: 150px;
  margin-top: 50px;
  font-size: 20px
}
.logos{
  display: inline-block;
  width: 150px;
  position: relative;
  top:5px;
}
.logos img{
  margin-left: 10px
}
