*{font-family: 'Poppins', sans-serif;}
.esercizio{
}

.vai-giu{
    margin-top: 20px;
    display: flex; width: 100%; height: 100%; justify-content:  center;
}
.vai-giu a{
  text-decoration: none;
  color:black;
}

.vai-giu a:hover{
  color:crimson
}

.vai-giu{
  padding-bottom: 20px;
  display: flex;


}

.list{
  padding: 10px
}

.image{
  position:relative;
  padding:10px
}

td{
  padding-left: 6px}
table{
  margin-top: 20px
}

.es6 a{
  text-decoration: none;
  color:black;
  display: block;
  width: 100px
}

.es6 a:hover{
  color: blue
}

.es9{
  padding-top: 20px
}

.images{
  padding-top:100px
}

.logoogle{
  padding-top:130px
}

.torna-su{
  padding-top: 30px;
  display: flex; width: 100%; height: 100%; justify-content:  center;
}

.torna-su a{
  text-decoration: none;
  color:black
}

.torna-su a:hover{
  color:crimson
}
